body{

    margin-top: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,45,116,1) 100%);
}
   
   circle {
  
    stroke: white;
    opacity: 0.5;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
  }

  circle:hover{
      opacity: 1;
      -webkit-transition: opacity .15s ease-in-out;
      -moz-transition: opacity .15s ease-in-out;
      -ms-transition: opacity .15s ease-in-out;
      -o-transition: opacity .15s ease-in-out;
      transition: opacity .15s ease-in-out;
  }
  

  h4, p{
      font-family: sans-serif;
      color: white;
      margin-left: 1rem;
  }

  .legend text{

    font-size: 1em;

  }

  .legend rect{

    opacity: 0.5;

  }

  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    background-color: ghostwhite;
    border-radius: .2rem;
    padding: 14px;
    text-align: center;
  }
  

  select{
    display: flex;
    justify-content: flex-end;
    background-color: beige;
    font-size: 1.3rem;
    color: black;
    border: none;
    margin-left: 1rem;
  }

  .filter{
      display: flex;
  }

  .filter div{
      background-color: black;
      border-radius: .2rem;
      width: 20%;
      height: 23rem;
      margin-top: 5%;
  }

div p{
    color: white;
    padding-right: 1rem;
}

line{
    color:white
}

text{
    color: white !important;
    font-size: 2em;
    font-family: sans-serif;
  }

  .domain{
      color: white;
  }